<div class="segment">
  <h3>
    <a href="{{ link }}">
      {{ title | upper }}
    </a>
  </h3>
  <p>
    {{ body |raw }}
  </p>
  <small>
    <a href="{{ link }}">read more ></a>
  </small>
</div>
