{% extends '@jobs/base.html.twig' %}


{% block inner_content %}
  <h2>Job Offers </h2>

  {% for offer in offers %}
    {% include '@jobs/layouts/offer.html.twig' with offer %}
  {% endfor %}
{% endblock %}


